* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  width: 100%;
}

header > p {
  margin: -20px 0 10px 0;
  color: #ca4dd6;
  font-size: 20px;
}

h1 {
  font-family: "Mitr", sans-serif;
  font-weight: 500;
  font-size: 80px;
}

h1,
header > p {
  background-image: radial-gradient(
    circle at top left,
    #000199 1%,
    #ca4dd6 25%,
    #476ce4 50%,
    #560e6a 75%,
    #cf3dd0 100%
  );

  background-size: 300%;
  background-position: right;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: background;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes background {
  0% {
    background-position: right;
  }
  25% {
    background-position: left;
  }
  50% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.carrossel {
  display: flex;
}

.carrossel > img {
  width: 100%;
  height: 370px;
  object-fit: cover;
  position: absolute;
  transition: 2s;
}

.fade-out {
  opacity: 0;
}

.banner1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-top: 370px;
  width: 100%;
  height: 50vh;
  background: #000000;
}

.banner1 > div > img {
  width: 6rem;
  padding: 2rem 0;
}

.banner1 > h2 {
  color: #ca4dd6;
  text-shadow: 0px 0px 20px #ca4dd6;
}

.tituloQuemSomos {
  width: 100%;
  background: #f7bfbe;
  color: #560e6a;
}

.tituloQuemSomos > h2,
.tituloViscose > h2 {
  /* background-image: linear-gradient(45deg, #ca4dd6 70%, #f7bfbe 30%); */
  display: flex;
  justify-content: center;
  background: url("../img/coração.png") no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100%;
  padding: 3rem 0;
}

.quemSomos {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  flex-direction: column;
  background-color: #f7bfbe;
}

.containerDonos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #560e6a;
}

.donos {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.8rem;
  border: 3px solid #560e6a;
}

.donos img {
  width: 100%;
  height: 100%;
}

.containerDonos > p {
  margin-bottom: 3rem;
}

.quemSomos > h2,
.banner2 > h2 {
  text-align: center;
  margin: 1rem 0;
  padding: 0.5rem;
  color: #cf3dd0;
}

.quemSomos > p {
  color: #560e6a;
  padding: 0 2rem 1rem 2rem;
  font-weight: 600;
}
.quemSomos > p:last-child {
  padding-top: 0rem;
}

.tituloViscose {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background: #000000;
  color: #f7bfbe;
  padding: 4rem 0;
}

/*  {
  background-image: linear-gradient(45deg, #ca4dd6 70%, #000 30%);

  width: 100%;
  text-align: center;
  padding: 1rem 0;
} */

.viscose {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 2rem;
  align-items: center;
  width: 100%;
  background-color: #000;
}

.viscose > h4 {
  color: #a6d5f7;
}

.viscose > ul > li {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #f7bfbe;
  padding: 3rem;
}

.viscose > ul > li > img {
  width: 5rem;
  margin-bottom: 1rem;
  border-radius: 20%;
  background: red;
}

.produtos {
  background: rgb(0, 0, 0);
}

.produtos > img {
  width: 100%;
}

.vendas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: #000;
  margin-top: -1rem;
  padding: 3rem 0;
  color: #f7bfbe;
}

.vendas > p {
  padding: 1rem 1rem;
}

.vendas > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #a6d5f7;
}

.vendas > a > img {
  width: 3rem;
}
