* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.logo {
  display: flex;
  background-color: #000;
  color: #fff;
  font-size: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carrossel {
  display: flex;
}

.carrossel > img {
  width: 100%;
  position: absolute;
  transition: 2s;
}

.fade-in {
  opacity: 1;
  z-index: 10;
}
.fade-out {
  opacity: 0;
  z-index: 99;
}
